$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary: #003859;
$color-second : #C3232A;
$color-yellow: #FFD289; 
$color-background : #f3f3f3;
